@font-face {
  font-family: 'D2Coding';
  src: url('src/assets/fonts/D2Coding-Ver1.3.2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'D2Coding';
  src: url('src/assets/fonts/D2CodingBold-Ver1.3.2.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
}

body {
  font-family: D2Coding, sans-serif;
  margin: 0;
  padding: 0;
}

#root {
}
